@{
    ViewData["Title"] = "Index";
    Layout = "_UserLayout";
}

@model List<Entities.Concrete.Category>
<div class="col-12">
    @if (Model != null)
    {
        <h3>Kategoriler</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Created Date</th>
                    <th>Updated Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <td>@item.Name</td>
                        @if (item.Status)
                        {
                            <td><div class="btn btn-success disabled">Aktif</div></td>
                        }
                        else
                        {
                            <td><div class="btn btn-danger disabled">Pasif</div></td>
                        }
                        <td>@item.CreatedDate</td>
                        <td>@item.UpdatedDate</td>
                        <td >
                            <span class="btn btn-danger dropdown-toggle" data-toggle="dropdown">  Actions <i class="fa fa-caret-down"></i></span>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a target="_blank" asp-area="" asp-controller="Blogs" asp-action="BlogsByCategoryId" asp-route-categoryId="@item.Id">Blogları görüntüle</a></li>
                                <li class="dropdown-item"><a href="#">Durum Değiştir</a></li>
                                <li class="dropdown-item"><a asp-area="User" asp-controller="Categories" asp-action="Update" asp-route-id="@item.Id">Güncelle</a></li>
                                <li class="dropdown-item"><a asp-area="User" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.Id">Sil</a></li>
                            </ul>
                        </td>
                    </tr>
                }

            </tbody>
        </table>


    }
    else
    {
        <span>
            Kategori Bulunamadı
        </span>
    }
</div>


