@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer


<div class="bg-dark text-white pb-1 pt-4">
    <footer class=" container-lg">
        <div class="row">
            <div class="col-6 col-md-3 mb-3">
                <h5>@localizer["Bloglar"]</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">@localizer["Editörün Seçtikleri"]</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">@localizer["Son Eklenenler"]</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">@localizer["Sizin İçin Önerilenler"]</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-3">
                <h5>@localizer["Yardım ve Destek"]</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">@localizer["İletişim Merkezi"]</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">@localizer["Bize Ulaşın"]</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">@localizer["Sponsorluklar"]</a></li>
                </ul>
            </div>
            <div class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5>@localizer["Haber Bültenimize Abone Ol"]</h5>
                    <p>@localizer["Bizden yeni ve heyecan verici olanların aylık özeti"]</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">@localizer["mail adresi"]</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-outline-success" type="button">@localizer["Abone Ol"]</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>
                &copy; @DateTime.Now.Year @localizer["SaüBlog, Aş. Tüm hakları saklıdır"].</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a></li>
            </ul>
        </div>
    </footer>
</div>