@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Entities.Concrete.Category>
@using WebUI.ViewComponents
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer
<div class="border">
    <h3 class="pt-3 mx-auto">@localizer["Kategoriler"]</h3>

    <div class="mx-auto py-3">
        @foreach (var (item, i) in Model.Select((item, i) => (item, i)))
        {
            <a asp-action="BlogsByCategoryId" asp-controller="Blogs"
           asp-route-categoryId="@item.Id"
           class="list-group-item list-group-item-action" id="@i" aria-valuetext="@item.Name">
                @item.Name
                <span class="badge bg-primary rounded-pill">@item.Blogs?.Count</span>
            </a>
        }
    </div>


</div>