@using Entities.Concrete;
@using WebUI.ViewComponents
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@model List<Entities.DTOs.Blog.LastBlogDto>

@inject IViewLocalizer localizer
@if (Model != null)
{
    <div class="border">
        <h3 class="pt-3 mx-auto">@localizer["Son Bloglar"]</h3>

        <div class="mx-auto py-3">
            <ol class="list-group list-group-numbered">
                @foreach (var item in Model)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="h6 fw-bold">@item.Title</div>
                            <span class="fs-6">@item.CreatedDate</span>
                            <a asp-action="Detail" asp-route-id="@item.Id" asp-controller="Blogs">@localizer["Bloga Git"] &raquo;</a>
                        </div>
                        <span class="badge bg-primary rounded-pill">@item.CommentCount</span>
                    </li>
                }
            </ol>
        </div>
    </div>
}
