@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@model List<Entities.Concrete.Writer>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <img src="https://www.pngitem.com/pimgs/m/150-1503945_transparent-user-png-default-user-image-png-png.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.User.FirstName @item.User.LastName</h5>
                    <p class="card-text"><span class="font-weight-bold">Email:</span> @item.User.Email</p>
                    <p class="card-text"><span class="font-weight-bold">NickName:</span> @item.NickName</p>
                    <p class="card-text"><span class="font-weight-bold">Kayıt Tarihi:</span> @item.CreatedDate</p>
                    <p class="card-text"><a asp-area="" asp-action="BlogsByWriterId" asp-controller="Blogs"
                                            asp-route-writerId="@item.Id" class="font-weight-bold text-primary">Bloglarına Git &raquo;</a></p>
                    <a class="btn btn-danger" asp-area="User" asp-controller="Auth" asp-action="DeleteAccount" asp-route-userId="@item.UserId">Yazarı Sil</a>
                </div>
            </div>
        </div>

    }
</div>